body {
  --nav-width: 200px;
  margin: 0 0 0 var(--nav-width);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: #009579;
}

.comments__count {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  color: #333;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
}

.comment__author {
  line-height: 1.6em;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: inherit;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-top: 3px;
  display: block;
}
.comment__date {
  line-height: 1.6em;
  list-style: none;
  margin: 0 0 0 4px;
  padding: 0;
  border: 0;
  font-style: inherit;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #333;
  vertical-align: middle;
  display: inline-block;
}
.comment__text {
  list-style: none;
  line-height: 1.6em;
  white-space: initial;
  color: #333;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin: 0;
}