$card-height: 100%; // https://v5.getbootstrap.com/docs/5.0/components/card/

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.homeBackground {
  height: 100vh;
  background-image: url(../images/mountains.jpg); 
  background-size: cover;
  overflow: auto;
}
.postBackground {
  height: 100vh;
  background-image: url(../images/blue-landscape.jpg);
  background-size: cover;
  overflow: auto;
}
.homeContainer {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 12px;
  background-color: #ddd;
}
#logo {
  max-width: 40%;
  min-width: 200px;
}
.postContainer {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: lightcyan;
}
.replyText {
  color: crimson;
  cursor: pointer;
  text-transform: uppercase;  
}

.card {
  max-width: fit-content;
}